[bumpversion]
current_version = 0.2.0
commit = True
tag = True
tag_name = python-base-build-{new_version}
parse = (?P<major>\d+)\.(?P<minor>\d+)\.(?P<patch>\d+)
serialize = {major}.{minor}.{patch}

[bumpversion:file:README.md]
search = hbpmip/python-base-build:VERSION
replace = hbpmip/python-base-build:{new_version}
